<h3>Please choose your log in mode</h3>

<google-plus-signin clientid="1040205011475-2ip8pc2dr3hilk36fkgjqdnhrqj3udrk.apps.googleusercontent.com" language="en-US"></google-plus-signin>

<p>or</p>
<!-- Login Form -->
<form id="loginForm" name="loginForm" ng-submit="login(loginObj)">
  <div class="form-group">
    <input type="email" ng-model="loginObj.email" name="email" placeholder="Email" required>
  </div>
  <div class="form-group">
    <input type="password" ng-model="loginObj.password" name="password" placeholder="Password" required>
  </div>
  <button class="btn btn-lg btn-block" ng-type="submit">Login <i class="fa" ng-class="login.working ? 'fa-cog fa-spin' : 'fa-sign-in'"></i></button>
</form>
<a href="#" ng-click="clickToRegister()">Create an account</a>

